---
layout: layout
section: blog
---

<div class="content">
  <div id="post">
    <p class="meta_date">
      <span class="day">{{ page.date | date: "%d" }}</span>
      <span class="calendar">
      <span class="month">{{ page.date | date: "%b" }}</span>
      <span class="year">{{ page.date | date: "%Y" }}</span>
    </span>
    </p>
    <h2>{{ page.title }}</h2>
    {{ content }}
  </div>
  <div class="pagination">
    {% if page.previous.url %}
    <a href="{{ page.previous.url}}" class="previous"><span class="arrow">← </span>{{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
    <a href="{{page.next.url}}" class="next">{{page.next.title}}<span class="arrow"> →</span></a>
    {% endif %}
  </div>
</div>
